<h1>Add New Quote</h1>

<br>

<%= render "form", quote: @quote %>

<br>

<div>
  <!--Buttons, just so the navigation looks nice-->
  <a href="/your-quotes" class="btn btn-outline-secondary ms-2">Back to quotes</a>
</div>
